{% extends "blog/base.html" %} # This is to inherit the parent templates
{% block content %} # This is to tell it the actual cintent nti fill
{% for post in posts %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ post.author }}</a>
        <small class="date">{{ post.date_posted|date:"F d, Y" }}</small>
      </div>
        <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
      </div>
    </article>
{% endfor %}
{% endblock content %}
        
    
